// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k230.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Canaan CanMV-K230";
	compatible = "canaan,canmv-k230", "canaan,kendryte-k230";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ddr: memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x20000000>;
	};

	leds {
        	compatible = "gpio-leds";
        	led-0 {
			label = "canmv:green:power";
            		gpios = <&port1a 20 GPIO_ACTIVE_HIGH>;
            		default-state = "on";
        	};
    	};
};

&uart0 {
	status = "okay";
};
