// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 Sophgo Technology Inc. All rights reserved.
 */

#include "sg2042.dtsi"

/ {
	model = "Milk-V Pioneer";
	compatible = "milkv,pioneer", "sophgo,sg2042";

	info {
		file-name = "sg2042-milkv-pioneer.dts";
	};
};

